/*Colors*/
@media all and (max-width: 1450px) {
  .fixed_header .header_contacts_number_item {
    display: block; }
  .fixed_header .header_logo_content {
    text-align: justify; }
    .fixed_header .header_logo_content:after {
      content: '';
      display: inline-block;
      width: 100%; }
  .fixed_header .header_info {
    position: static; } }

@media all and (max-width: 1440px) {
  .header .container {
    position: relative; }
  .header .header_logo_block {
    height: 155px;
    position: absolute;
    top: 0; }
  .header .header_logo_content {
    display: block;
    margin-left: 367px;
    text-align: justify;
    position: relative;
    padding-bottom: 5px; }
    .header .header_logo_content:after {
      content: '';
      display: inline-block;
      width: 100%; }
  .header_info {
    position: absolute;
    top: 7px;
    right: 330px;
    margin: 0; }
  .header_menu_list {
    margin-left: 354px; }
  .main_container {
    position: relative; }
    .main_container .aside {
      width: 331px;
      position: absolute;
      top: -5px; }
    .main_container .main {
      margin-left: 354px;
      display: block;
      width: auto; }
  .order_block_h span:nth-child(2),
  .order_name {
    width: 25%; }
  .order_cost_price {
    margin-left: 30px; } }

@media all and (max-width: 1350px) {
  .item_content_block_price {
    width: 50%;
    margin-right: 10%; } }

@media all and (max-width: 1350px) {
  .order_block_h {
    display: none; }
  .order_article {
    width: 15%; }
  .order_name {
    width: 50%;
    position: relative; }
    .order_name_link {
      max-width: none;
      display: inline-block;
      margin-right: 125px; }
    .order_name_img {
      position: absolute;
      top: 0;
      right: 0; }
  .order_price {
    margin-right: 50px;
    width: 20%; }
  .order_unit {
    padding-left: 10px; }
  .order_quantity {
    vertical-align: bottom; }
  .order_cost {
    vertical-align: bottom;
    margin-right: 50px;
    width: 30%; }
  .order_block_content {
    text-align: justify; }
    .order_block_content:after {
      content: '';
      display: inline-block;
      width: 100%; } }

@media all and (max-width: 1290px) {
  .footer_contacts {
    margin-left: 0; }
  .category_block_item {
    width: 22%; }
  .category_recently_viewed_block {
    text-align: center; }
  .category_recently_viewed_block_item {
    width: 30%;
    margin-right: 5%; }
    .category_recently_viewed_block_item:nth-child(4n) {
      margin-right: 5%; }
    .category_recently_viewed_block_item:nth-child(3n) {
      margin-right: 0; }
  .related_products_block_item,
  .recommended_products_block_item {
    width: 30%;
    margin-right: 5%; }
    .related_products_block_item:nth-child(4n),
    .recommended_products_block_item:nth-child(4n) {
      margin-right: 5%; }
    .related_products_block_item:nth-child(3n),
    .recommended_products_block_item:nth-child(3n) {
      margin-right: 0; }
    .related_products_block_item:last-child,
    .recommended_products_block_item:last-child {
      display: none; } }

@media all and (max-width: 1250px) {
  .fixed_header .header_info {
    position: absolute;
    right: 0;
    left: auto;
    top: 3px; }
  .fixed_header .fixed_header_order_btn {
    position: absolute;
    bottom: 3px;
    right: 0; } }

@media all and (max-width: 1185px) {
  .fixed_header .header_info {
    left: auto;
    margin-bottom: 10px; }
  .header_menu_list {
    padding: 0; }
  .header_caption {
    margin-right: 0; }
  .header_info {
    position: absolute;
    top: 7px;
    left: 0;
    right: auto;
    margin: 0; }
  .header_contacts {
    margin-top: 42px; }
    .header_contacts:after {
      width: 75%;
      overflow: hidden; }
    .header_contacts:before {
      left: -10px; }
    .header_contacts_call_back {
      text-align: center; }
      .header_contacts_call_back .phone_img {
        width: 26px;
        height: 26px;
        background-size: 70%; }
        .header_contacts_call_back .phone_img:after {
          width: 28px;
          height: 28px;
          left: -3px;
          top: -3px; }
    .header_contacts_number_item {
      font-size: 25px; }
  .popular_category_block {
    text-align: center; }
    .popular_category_block_item {
      width: 25%; }
  .recently_viewed_block_item {
    width: 26%; }
    .recently_viewed_block_item:nth-child(4) {
      display: none; }
  .category_baner_caption,
  .baner_caption {
    font-size: 28px; }
    .category_baner_caption:after,
    .baner_caption:after {
      right: 15px; }
  .brand_slider,
  .sale_hit_slider {
    width: auto;
    margin-right: 40px;
    margin-left: 40px; } }

@media all and (max-width: 1150px) {
  .footer_contacts {
    margin-left: 100px; }
  .item_content_slider {
    display: block;
    width: 100%; }
  .item_content_block {
    display: block;
    width: 100%; }
  .delivery_table {
    width: 100%; }
  .item_content_slider .slider-nav .item {
    max-height: none; }
  .buyer_info_form .send_form span {
    max-width: 250px; }
  .buyer_info_form .send_form .button_block {
    margin-left: 260px; } }

@media all and (max-width: 1080px) {
  .header_menu_list_item {
    font-size: 14px; }
  .header_contacts {
    margin-top: 47px; }
  .recently_viewed_block_item {
    width: 30%; }
  .footer_social {
    margin-right: 0; }
  .footer_img {
    display: none; }
  .category_block_item {
    width: 31%; }
  .phone .form {
    padding-left: 10px;
    padding-right: 10px; } }

@media all and (max-width: 1024px) {
  .buyer_info_form div:nth-child(1n) {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px; }
  .buyer_info_form div:last-child {
    width: auto; }
  .buyer_info_form .send_form {
    margin-top: 30px; }
    .buyer_info_form .send_form button {
      font-size: 24px; } }

@media all and (max-width: 991px) {
  .fixed_header .header_info {
    display: none; }
  .fixed_header .aside_category .aside_category_child_list {
    position: relative;
    left: auto;
    right: auto;
    z-index: 25; }
  .header_menu .container {
    height: 37px;
    position: relative; }
  .header_menu_list {
    display: none;
    margin: 0;
    position: absolute;
    z-index: 20;
    width: 150px;
    top: 37px;
    right: 10px; }
    .header_menu_list_item {
      width: 100%;
      display: block;
      background: -webkit-gradient(linear, left bottom, left top, from(#7fe0f8), to(#cef8ff));
      background: linear-gradient(to top, #7fe0f8 0%, #cef8ff 100%);
      border-bottom: 1px solid #20666e; }
      .header_menu_list_item:last-child {
        border-bottom: none; }
      .header_menu_list_item:before, .header_menu_list_item:after {
        display: none; }
  .header_menu_button {
    display: block;
    position: absolute;
    right: 10px;
    top: 9px;
    cursor: url("../img/cursor_icon.png") 10 3, auto; }
    .header_menu_button:hover div {
      -webkit-box-shadow: 0 0 3px 1px #fff;
      box-shadow: 0 0 3px 1px #fff; }
    .header_menu_button div {
      width: 30px;
      height: 4px;
      margin-bottom: 4px;
      background: #20666e;
      transition: 0.25s ease-out;
      -webkit-transition: 0.25s ease-out;
      -moz-transition: 0.25s ease-out;
      -ms-transition: 0.25s ease-out;
      -o-transition: 0.25s ease-out; }
      .header_menu_button div:last-child {
        margin-bottom: 0; }
  .footer_contacts {
    margin-left: -20px; }
    .footer_contacts:before {
      display: none; } }

@media all and (max-width: 920px) {
  .fixed_header .header_logo_block {
    width: 305px; }
  .fixed_header .header_logo_content {
    margin-left: 300px; }
  .header .header_logo_content {
    margin-left: 320px; }
  .header_logo {
    margin-right: 0;
    padding-right: 20px; }
    .header_logo_text {
      margin-left: 20px; }
    .header_logo_img {
      width: 130px; }
  .main_container .aside {
    width: 295px; }
  .main_container .main {
    margin-left: 320px; }
  .footer .top_container {
    height: 244px; }
  .footer_logo {
    padding-right: 20px; }
  .footer_social {
    position: absolute;
    bottom: 0;
    right: 0; }
    .footer_social:before, .footer_social:after {
      display: none; } }

@media all and (max-width: 865px) {
  .header .header_logo_bottom {
    border-top: 1px solid #0091c0; }
  .header .header_caption {
    display: none; }
  .header .header_contacts {
    float: right; }
  .header_sign {
    margin-right: 0; }
  .aside_container {
    padding-top: 0px;
    top: 0;
    display: none; }
  .main_container .aside {
    width: 295px; }
  .main_container .aside_button {
    display: block;
    position: absolute;
    top: -37px;
    left: 5px;
    cursor: url("../img/cursor_icon.png") 10 3, auto;
    z-index: 20;
    width: 100%;
    text-align: center;
    font-size: 26px;
    padding-bottom: 7px;
    color: #20666e;
    font-weight: 700; }
    .main_container .aside_button span {
      position: relative;
      z-index: 20; }
    .main_container .aside_button:after {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      width: 100%;
      height: 100%;
      z-index: 5;
      background: -webkit-gradient(linear, left bottom, left top, from(#cef8ff), to(#7fe0f8));
      background: linear-gradient(to top, #cef8ff 0%, #7fe0f8 100%);
      opacity: 0;
      transition: 0.2s ease-out;
      -webkit-transition: 0.2s ease-out;
      -moz-transition: 0.2s ease-out;
      -ms-transition: 0.2s ease-out;
      -o-transition: 0.2s ease-out; }
    .main_container .aside_button:hover:after {
      opacity: 1; }
  .main_container .main {
    margin-left: 0px; }
  .main_slider {
    height: 280px; }
    .main_slider .slick-list,
    .main_slider .slick-track,
    .main_slider .main_slider_block {
      height: 100%; }
  .category_block_item {
    width: 23%; } }

@media all and (max-width: 820px) {
  .fixed_header .header_contacts_number {
    display: none; }
  .fixed_header .fixed_header_order_btn {
    position: relative; } }

@media all and (max-width: 800px) {
  .header {
    height: 150px; }
    .header .header_logo_content {
      margin-left: 0; }
    .header .header_info {
      display: block;
      margin-right: -10px;
      margin-left: -10px;
      position: relative;
      top: 0;
      text-align: center;
      background: -webkit-gradient(linear, left bottom, left top, from(#7fe0f8), to(#cef8ff));
      background: linear-gradient(to top, #7fe0f8 0%, #cef8ff 100%); }
    .header .header_contacts {
      margin-top: 25px; }
    .header .header_logo_block {
      top: 34px; } }

@media all and (max-width: 767px) {
  .fixed_header .aside_category {
    z-index: 25; }
    .fixed_header .aside_category .aside_category_main_list {
      position: relative;
      left: auto;
      right: auto; } }

@media all and (max-width: 720px) {
  .footer_logo_text {
    display: none; }
  .footer_logo {
    padding-right: 8px; }
  .footer_logo_wrapper .desing_block {
    padding-top: 10px; }
    .footer_logo_wrapper .desing_block > * {
      display: block;
      margin: 0; }
    .footer_logo_wrapper .desing_block a {
      margin-top: 3px;
      text-align: left; } }

@media all and (max-width: 630px) {
  .fixed_header .header_contacts,
  .fixed_header .fixed_header_order_btn {
    display: block;
    text-align: right; }
  .fixed_header .fixed_header_order_btn {
    margin-bottom: 5px;
    text-align: center; }
  .header .header_contacts {
    position: static;
    display: block;
    width: 100%; }
    .header .header_contacts:before, .header .header_contacts:after {
      display: none; }
  .header .header_contacts_call_back {
    float: right; }
  .header .header_contacts_number {
    position: absolute;
    top: 185px;
    display: block;
    width: 100%;
    margin: 0;
    text-align: center; }
  .header .header_contacts_number_item {
    display: inline-block; }
    .header .header_contacts_number_item:first-child {
      margin-right: 15px; }
  .header_menu {
    margin-bottom: 30px; }
  .main_container .aside_button {
    top: -62px; }
  .popular_category_block_item {
    width: 33%; }
  .baner_caption,
  .category_baner_caption {
    font-size: 24px; }
  .baner_p,
  .category_baner_p {
    font-size: 20px;
    padding-left: 20px; }
  .information_text {
    background: #20666e;
    border: 5px solid #90c900; }
  .footer_logo {
    display: none; }
  .footer_contacts {
    margin-left: 0; }
  .footer_logo_wrapper {
    position: absolute;
    bottom: -20px;
    width: 100%; }
  .footer_logo_wrapper .desing_block {
    text-align: center; }
    .footer_logo_wrapper .desing_block > * {
      display: inline-block; }
  .footer_social {
    right: 20px; }
  .footer {
    overflow: hidden; }
    .footer .container .footer_bath_img {
      left: 20%; }
  .category_block_item {
    width: 31%; }
  .category_recently_viewed_block {
    text-align: center; }
  .category_recently_viewed_block_item {
    width: 45%;
    margin-right: 5%; }
    .category_recently_viewed_block_item:nth-child(2n) {
      margin-right: 0; }
    .category_recently_viewed_block_item:nth-child(3n) {
      margin-right: 5%; }
  .item_content_block {
    margin-left: 0; }
  .item_content_block_price .item_price:after {
    display: none; }
  .item_content_block_price,
  .item_content_block_btn {
    display: block;
    width: 100%; }
  .item_content_block_price .item_counter {
    margin: auto; }
  .item_content_block_btn {
    text-align: center;
    margin-top: 20px; }
    .item_content_block_btn_basket {
      font-size: 20px;
      margin-right: 5px; }
    .item_content_block_btn a {
      width: 175px;
      display: inline-block;
      vertical-align: top;
      margin-top: 0; }
  .reviews form div {
    display: block;
    width: 100%; }
    .reviews form div:first-child {
      position: relative;
      width: 100%;
      margin-bottom: 10px; }
    .reviews form div:nth-child(2) {
      margin-left: 0; }
  .related_products_block_item,
  .recommended_products_block_item {
    width: 45%;
    margin-right: 5%; }
    .related_products_block_item:nth-child(2n),
    .recommended_products_block_item:nth-child(2n) {
      margin-right: 0; }
    .related_products_block_item:nth-child(3n),
    .recommended_products_block_item:nth-child(3n) {
      margin-right: 5%; }
    .related_products_block_item:last-child,
    .recommended_products_block_item:last-child {
      display: inline-block; }
  .order_name {
    width: 80%;
    padding-right: 50px;
    height: 120px; }
    .order_name_img {
      right: 50px; }
  .order_price {
    display: block;
    min-width: 200px;
    margin-left: auto;
    text-align: center; }
  .order_cost {
    display: block;
    min-width: 200px;
    margin-left: auto;
    margin-top: 20px; }
    .order_cost_price {
      margin: 0; }
  .order_unit,
  .order_quantity {
    width: 50%;
    padding-top: 0; }
    .order_unit .counter_block,
    .order_quantity .counter_block {
      margin: auto; }
  .phone .form {
    display: block;
    width: 100%; }
  .phone_caption {
    display: block;
    width: 100%; }
  .order_total_price_caption {
    min-width: auto;
    padding-left: 40px;
    padding-right: 15px; }
  .order_total_price_number {
    padding-left: 10px;
    padding-right: 10px; }
  .buyer_info_form .send_form span {
    position: static;
    display: block;
    width: 100%;
    max-width: none;
    margin-bottom: 10px;
    text-align: center; }
  .buyer_info_form .send_form .button_block {
    margin-left: 0; }
  .success_politic {
    text-align: center; }
  .total_cost .order_total_price_caption {
    padding-right: 0; } }

@media all and (max-width: 505px) {
  .fixed_header .header_contacts {
    display: none; }
  .fixed_header .container {
    padding-top: 10px; } }

@media all and (max-width: 520px) {
  .header .header_basket_quantity + span {
    display: none; }
  .header .header_basket_price {
    display: none; }
  .popular_category_block_item {
    width: 50%; }
  .recently_viewed_block_item {
    width: 45%; }
    .recently_viewed_block_item:last-child {
      display: inline-block; }
  .baner_caption,
  .category_baner_caption {
    font-size: 20px;
    line-height: 24px; }
  .baner_p,
  .category_baner_p {
    font-size: 16px;
    padding-left: 20px;
    line-height: 24px; }
  .footer .container {
    text-align: left; }
    .footer .container .footer_contacts {
      margin-left: 20px; }
  .category_block_item {
    width: 42%; }
  .item_tab_item {
    display: block; }
  .item_tab_content_block .delivery_table_wrapper {
    padding: 2px;
    overflow-x: scroll; }
    .item_tab_content_block .delivery_table_wrapper .delivery_table,
    .item_tab_content_block .delivery_table_wrapper .delivery_table_second {
      min-width: 500px; }
  .order_article {
    width: 20%; }
  .order_name_img {
    display: none; }
  .order_name_link {
    margin-right: 0; }
  .order_name {
    height: auto;
    margin-bottom: 10px; } }

@media all and (max-width: 460px) {
  .fixed_header {
    height: 40px; }
    .fixed_header .fixed_header_order_btn {
      display: none; }
  .footer .top_container {
    height: 290px; }
  .footer .container {
    padding-bottom: 50px; }
  .footer_social {
    width: 100%;
    right: 0;
    height: 40px;
    bottom: 0px; }
    .footer_social a {
      position: absolute; }
    .footer_social .vk_link {
      top: -5px;
      left: 20px; }
    .footer_social .insta_link {
      right: 20px; }
    .footer_social .counter_block {
      position: absolute;
      top: -70px;
      right: 10px;
      width: 88px; } }

@media all and (max-width: 420px) {
  .header {
    height: 140px; }
    .header .header_basket_quantity + span {
      display: none; }
    .header .header_basket_price {
      display: none; }
    .header .header_logo_img {
      width: 60px;
      margin-top: 10px; }
      .header .header_logo_img img {
        width: 100%; }
    .header .header_logo {
      padding-top: 10px;
      height: 103px;
      width: 105%; }
    .header .header_logo_text span {
      font-size: 28px;
      line-height: 28px; }
    .header .header_logo_text span:last-child {
      font-size: 48px;
      line-height: 38px; }
    .header .header_contacts_number {
      top: 182px; }
    .header .header_contacts_number_item {
      font-size: 18px; }
  .main_container .aside_button {
    width: 205px; }
  .popular_category_block_item {
    width: 100%; }
  .recently_viewed_block_item {
    width: 100%;
    margin-bottom: 15px; }
  .footer_social {
    height: 35px; }
    .footer_social .vk_link {
      left: 10px;
      max-width: 145px; }
      .footer_social .vk_link img {
        width: 100%; }
    .footer_social .insta_link {
      right: 10px;
      max-width: 145px;
      text-align: right; }
      .footer_social .insta_link img {
        width: 100%; }
  .category_block_item {
    width: 90%; }
  .category_recently_viewed_block {
    text-align: center; }
  .category_recently_viewed_block_item {
    width: 100%;
    margin-right: 0%; }
    .category_recently_viewed_block_item:nth-child(2n) {
      margin-right: 0; }
    .category_recently_viewed_block_item:nth-child(3n) {
      margin-right: 0%; }
  .related_products_block_item,
  .recommended_products_block_item {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 15px; }
    .related_products_block_item:nth-child(2n),
    .recommended_products_block_item:nth-child(2n) {
      margin-right: 0; }
    .related_products_block_item:nth-child(3n),
    .recommended_products_block_item:nth-child(3n) {
      margin-right: 0%; } }

@media all and (max-width: 400px) {
  .item_content_block_btn_basket {
    margin-bottom: 5px;
    margin-right: 0; } }

/*# sourceMappingURL=media.css.map */
